body {
    background-image: url(../cuốikhóa/image/banh-trung-thu-kinh-do-co-ngon-khong-tim-hieu-cac-loai-banh-trung-thu-kinh-do-202008232248210798.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}